/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
header {
    background-color: rgb(41, 41, 41);
    padding: 2rem;
    text-align: center;
    color: #ccc;
}

judul {
    color: white;
    text-align: center;
}

author {
    width: 980px;
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
}

author h1 {
    text-align: start;
    color: rgb(9, 8, 8);
}

profil pembuat {
    width: 900px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: rgb(86, 84, 84);
    padding: 2rem;
    color: white;
    background-color: #333;
}

h2 {
    text-align: left 20rem;
    padding: 20px;
}

Deskripsi {
    width: 850px;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
}

deskripsi h1 {
    color: black;
    font-size: x-large;
}

section h3 {
    margin-top: 10px;
    text-align: center;
    text-align: left 20rem;
    padding: 20px;
}

section {
    width: 70%;
    margin: 20px auto;
    color: black;
    border-radius: 20px;
    padding: 2rem;
    background-color: white;
}

body {
    overflow-y: scroll;
    background-color: rgb(205, 209, 212);
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style the unordered list */
ul {
    list-style: none;
    padding-left: 0;
}

/* Style the contact form */
ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

form label {
    display: block;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

/* Style the footer */
footer {
    background-color: rgb(41, 41, 41);
    color: ghostwhite;
    padding: 20px;
    text-align: center;
}